<%- include('partials/header') %>  
  
<H2>Hii <%=name%>! Here are your classes</H2>
<a class="btn btn-light btn-lg" href="/addClass" role="button">Add Class</a>
<a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  
<%- include('partials/footer') %>