<%- include('partials/header') %>  
  
<H2>Enter Class Name</H2>


<form action="/create" method="POST">

    <div class="form-group">
      <input type="text" class="" name="className" placeholder="Enter Class Name">
    </div>
    <button type="submit" class="btn btn-dark btn-lg">Create</button>
</form>

  
<%- include('partials/footer') %>